[project]
	description = ReactOS Mirror
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ThFabba
[access "refs/for/refs/*"]
	read = group user/ThFabba
	push = group user/ThFabba
	label-Code-Review = -2..+2 group user/ThFabba
	label-Verified = -1..+1 group user/ThFabba
	rebase = group user/ThFabba
	removeReviewer = group user/ThFabba
	submit = group user/ThFabba
[access "refs/heads/*"]
	read = group user/ThFabba
	create = group user/ThFabba
	push = +force group user/ThFabba
	pushMerge = group user/ThFabba
[access "refs/tags/*"]
	push = group user/ThFabba
	push = +force group user/ThFabba
